* {
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: rgb(35, 41, 57);
  min-height: 100vh;
  margin: 0
}

picture {
  font-size: 0
}

.video {
  width: 500px;
  height: 280px;
}

img,video {
  width: 100%;
  height: auto
}

a {
  text-decoration: none;
  color: #1095b5
}

a:focus,a:hover {
  text-decoration: none;
  color: #083e67
}

button,p {
  padding: 0;
  margin: 0
}

ol,ul {
  color: #fff;
}

button {
  border: 0;
  cursor: pointer;
  background: 0 0;
  transition: .15s ease-in
}

input:focus::-moz-placeholder,textarea:focus::-moz-placeholder {
  opacity: 0
}

input:focus:-ms-input-placeholder,textarea:focus:-ms-input-placeholder {
  opacity: 0
}

input:focus::placeholder,textarea:focus::placeholder {
  opacity: 0
}

input::-moz-placeholder,textarea::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity .3s;
  transition: opacity .3s
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity .3s;
  transition: opacity .3s
}

input::placeholder,textarea::placeholder {
  opacity: 1;
  transition: opacity .3s
}

input::-moz-focus-inner,input::-moz-focus-outer,textarea::-moz-focus-inner,textarea::-moz-focus-outer {
  border: 0;
  outline: 0
}

main {
  position: relative;
  padding: 10px;
  box-shadow: 0 0 10px rgba(50,50,50,.17);
  background-color: #fff;
  color: #000
}

.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(53, 61, 82);
  padding: 15px 20px;
  max-width: initial
}

@media (min-width: 991px) {
  .container {
      max-width:930px
  }
}

@media (min-width: 1040px) {
  .container {
      max-width:991px
  }
}

@media (min-width: 1280px) {
  .container {
      max-width:1170px
  }
}

.hidden {
  display: none!important
}

.wrapper {
  position: relative;
  width: 100%
}

.btn {
  text-align: center;
  padding: 10px 15px;
  border: 1px solid #1095b5;
  box-sizing: border-box;
  color: #1095b5;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  white-space: nowrap
}

.btn:focus,.btn:hover {
  background-color: #1095b5;
  color: #fff
}

.btn_get {
  background-color: #24376f;
  color: #fff
}

.btn_get:focus,.btn_get:hover {
  background-color: #06c
}

.bahsegel,.bl_ceo a.bahsegel {
  text-align: center;
  display: block;
  max-width: 224px;
  margin: 20px auto;
  min-width: 100px;
  padding: 0 15px;
  line-height: 44px;
  color: #fff;
  white-space: nowrap;
  border: 0;
  background: linear-gradient(180deg,#ff9e2c,#ffb72c),#ff9e2c;
  font-weight: 700;
  border-radius: 5px
}

.bahsegel:focus,.bahsegel:hover,.bl_ceo a.bahsegel:focus,.bl_ceo a.bahsegel:hover {
  background: #025367;
  color: #fff
}

.header {
  position: fixed;
  background-color: rgb(53, 61, 82);
  top: 0;
  border-bottom: 1px solid #696969;
  width: 100%;
  z-index: 100;
}

.header+div,.header+main {
  padding-top: 60px
}

@media (min-width: 991px) {
  .header+div,.header+main {
      padding-top:75px
  }
}

.header_wrapper {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

@media (min-width: 991px) {
  .header_wrapper {
      height:75px
  }
}

.header_logo {
  position: relative;
  display: inline-block;
  margin: 0 5px
}

@media (max-width: 600px) {
  .header_logo {
      margin:0;
      width: 120px
  }
}

.block_navigation {
  display: flex;
  align-items: center;
  padding-bottom: 60px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 450px;
  max-width: 100vw;
  height: calc(100vh - 25px);
  transform: translateX(100%);
  flex-direction: column;
  justify-content: space-between;
  background: #1095b5;
  z-index: 20
}

@media (min-width: 991px) {
  .block_navigation {
      top:initial;
      padding-bottom: 0;
      position: relative;
      flex-direction: row;
      justify-content: flex-end;
      width: calc(100% - 320px);
      height: auto;
      background: 0 0;
      transform: initial
  }
}

@media (min-width: 1040px) {
  .block_navigation {
      width:calc(100% - 350px)
  }
}

@media (min-width: 1280px) {
  .block_navigation {
      width:calc(100% - 400px)
  }
}

.btn_menu {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #3ccc87;
  z-index: 21;
  order: 4
}

.btn_menu:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-position: 0 0;
  width: 22px;
  height: 18px;
  z-index: 3
}

@media (min-width: 991px) {
  .btn_menu {
      display:none
  }
}

.btn_menu__checkbox {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: block;
  opacity: 0
}

@media (min-width: 991px) {
  .btn_menu__checkbox {
      display:none
  }
}

.btn_menu__checkbox:checked+.block_navigation {
  transform: translateX(0)
}

.btn_menu__checkbox:checked~.btn_menu:after {
  background-position: -27px 0;
  width: 18px;
  height: 17px
}

.btn_nav__mobil__checkbox {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 40px;
  height: 40px;
  opacity: 0
}

.btn_nav__mobil__checkbox:checked+.block_tab__list {
  display: block
}

.btn_nav__mobil__checkbox:checked~.btn_nav__mobil:after {
  transform: translate(-50%,-50%) rotate(180deg)
}

.bl_nav {
  position: relative;
  width: 100%;
  margin-right: 0
}

@media (min-width: 991px) {
  .bl_nav {
      margin-right:10px;
      width: initial
  }
}

@media (min-width: 1040px) {
  .bl_nav {
      margin-right:40px
  }
}

.bl_nav__list {
  display: block;
  width: 100%;
  margin: 10px auto
}

@media (min-width: 991px) {
  .bl_nav__list {
      width:auto;
      margin: 0
  }
}

.bl_nav__item {
  position: relative;
  display: block;
  line-height: initial;
  margin-bottom: 10px;
  overflow: auto;
  max-height: calc(100vh - 240px)
}

@media (min-width: 991px) {
  .bl_nav__item {
      display:inline-block;
      margin: 0 10px;
      border: 0;
      overflow: initial
  }
}


.bl_nav__item a {
  padding-bottom: 20px
}

.list_titles > li > a {
  color: #fff;
}

.bl_nav__item a:hover {
  color: #fff
}

@media (min-width: 991px) {
  .bl_nav__item a {
      padding-bottom:0
  }
}

.bl_nav__item>a {
  text-transform: uppercase
}

.bl_nav__item>a:focus,.bl_nav__item>a:hover {
  color: #000
}

@media (min-width: 991px) {
  .bl_nav__item.siblings>a {
      position:relative;
      padding-right: 20px
  }

  .bl_nav__item.siblings>a:after {
      content: "";
      position: absolute;
      top: 45%;
      right: 0;
      background-position: 0 -23px;
      width: 10px;
      height: 6px
  }
}

@media (min-width: 992px) {
  .bl_nav__item:hover>.block_tab__list {
      display:block
  }
}

.bl_nav__link {
  display: block;
  padding: 5px 10px;
  font-size: 16px;
  text-decoration: none;
  transition: .15s ease-in;
  font-weight: 700;
  color: #fff;
  line-height: 40px
}

.bl_nav__link:focus,.bl_nav__link:hover {
  color: #ff9e2c
}

@media (min-width: 991px) {
  .bl_nav__link {
      line-height:initial;
      color: #1095b5
  }
}

.btn_nav__mobil {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #3ccc87;
  border-radius: 4px;
  top: 0;
  right: 20px
}

.btn_nav__mobil:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-position: 0 -23px;
  width: 10px;
  height: 6px;
  z-index: 2;
  transition: .2s ease-in
}

@media (min-width: 991px) {
  .btn_nav__mobil {
      display:none
  }
}

.block_tab__list {
  display: none;
  list-style-type: none;
  position: relative;
  width: 100%;
  background: 0 0
}

@media (min-width: 991px) {
  .block_tab__list {
      position:absolute;
      top: 100%;
      left: 0;
      width: 262px;
      background: #f0f0f0;
      border-radius: 4px;
      z-index: 2
  }
}

.block_tab__item {
  line-height: 20px
}

.block_tab__item:not(:last-child) {
  border-bottom: 1px solid rgba(255,255,255,.3)
}

.block_tab__item a {
  padding: 10px;
  display: block;
  font-size: 16px;
  color: #fff
}

.block_tab__item a:hover {
  background-color: #06c
}

@media (min-width: 991px) {
  .block_tab__item a {
      color:#000
  }
}

.btn_reviews {
  min-width: 100px;
  padding: 0 15px;
  line-height: 44px;
  color: #fff;
  white-space: nowrap;
  border: 0;
  background: linear-gradient(180deg,#ff9e2c,#ffb72c),#ff9e2c
}

.btn_reviews:focus,.btn_reviews:hover {
  box-shadow: #ff9e2c 0 0 10px;
  background: linear-gradient(125deg,#ff9e2c,#ffb72c)
}

@media (max-width: 450px) {
  .btn_reviews {
      margin-left:auto;
      margin-right: 10px
  }
}

.btn_open {
  margin-left: 10px
}

@media (max-width: 450px) {
  .btn_open {
      display:none
  }
}

.header_logo__img {
  max-width: 130%
}

@media (min-width: 450px) {
  .header_logo__img {
      max-width:100%
  }
}

@media (min-width: 600px) {
  .header_logo__img {
      max-width:initial
  }
}

.bl_ceo {
  position: relative;
  font-size: 15px;
  padding: 20px 0;
  color: #000;
  z-index: 10
}

.bl_ceo .container {
  padding-top: 45px;
  padding-bottom: 45px
}

.bl_ceo p {
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 24px
}

.bl_ceo h2,.bl_ceo h3 {
  position: relative;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 15px;
  padding-bottom: 10px
}

.bl_ceo h2 {
  font-size: 32px
}

@media (min-width: 450px) {
  .bl_ceo h2 {
      font-size:38px
  }
}

@media (min-width: 768px) {
  .bl_ceo h2 {
      font-size:42px
  }
}

.bl_ceo h3 {
  font-size: 26px
}

@media (min-width: 450px) {
  .bl_ceo h3 {
      font-size:32px
  }
}

@media (min-width: 768px) {
  .bl_ceo h3 {
      font-size:38px
  }
}

.bl_ceo a {
  color: #1095b5;
  text-decoration: underline
}

.bl_ceo a:focus,.bl_ceo a:hover {
  color: #083e67;
  text-decoration: none
}

.bl_ceo ol,.bl_ceo ul {
  padding-left: 0;
  margin: 20px auto
}

.bl_ceo li {
  counter-increment: step-counter;
  position: relative;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
  padding-left: 20px;
  list-style-type: none
}

.bl_ceo ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  background: #1095b5
}

.bl_ceo ol li {
  padding-left: 30px
}

.bl_ceo ol li:before {
  content: counter(step-counter) ". ";
  position: absolute;
  font-weight: 700;
  color: #1095b5;
  left: 3px
}

.bl_ceo hr {
  position: relative;
  display: block;
  width: 100%;
  margin: 40px 0;
  height: 1px;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  background: #9d9d9d;
  overflow: initial
}

.bl_ceo .btn {
  display: block;
  margin: 0 auto
}

.bl_ceo ul a {
  text-decoration: none
}

.bl_ceo ul a:focus,.bl_ceo ul a:hover {
  text-decoration: underline
}

.bl_ceo table {
  margin: 20px auto;
  width: 100%;
  border-collapse: collapse;
  background-color: #e0f2f6
}

.bl_ceo table td {
  padding: 4px 10px;
  border: 1px solid rgba(255,255,255,.4);
  border-collapse: collapse
}

.bl_ceo table tr:nth-child(even) {
  background-color: #47c9ee;
  color: #fff
}

.decor_bg_pattern {
  margin: 15px auto;
  width: 80%;
  height: 18px;
  background-size: contain
}

@media (min-width: 450px) {
  .decor_bg_pattern {
      margin:30px auto
  }
}

::-webkit-scrollbar {
  width: 4px
}

::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-color: #777;
  background: #0a41a0
}

::-webkit-scrollbar-track-piece {
  background-color: #181a25
}

::selection {
  background: #24376f;
  color: #fff
}

::-moz-selection {
  background: #24376f;
  color: #000
}

footer {
  margin-top: 20px;
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  min-height: 80px;
  padding: 24px 0;
  background-color: rgb(53, 61, 82);
  z-index: 10
}

.footer_part {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center
}

.footer_part__second {
  width: 100%;
  justify-content: space-between
}

.text_politics {
  font-size: 16px;
  line-height: 22px;
  color: #fff
}

.footer_decor {
  margin-right: 10px
}

.logo {
  height: 37px;
  width: 180px;
}

.header_wrapper > div {
  display: flex;
  gap: 10px;
}

.header_button {
  text-align: center;
  padding: 10px 15px;
  border: 1px solid #1095b5;
  color: #1095b5;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  white-space: nowrap;
}

.giris {
  min-width: 100px;
  padding: 0 15px;
  line-height: 44px;
  color: #fff;
  border: 0;
  background: linear-gradient(180deg,#ff9e2c,#ffb72c),#ff9e2c;
}

.top_HomeBonus_title {
  margin: 0;
  padding: 5px 0;
  text-align: center;
  color: #fff;
  background: #1095b5;
  -webkit-text-stroke: 1px #fff;
  font-size: 28px;
  font-weight: 500
}

.banner {
  position: relative;
  width: 100%;
  background: linear-gradient(90deg,#03d4eb,#028dec);
  height: auto;
  min-height: 320px;
  margin-bottom: 30px;
}

picture {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 0;
  padding: 0;
}

.banner > div > a {
  border-color: #ff9e2c;
  padding: 16px 25px;
  line-height: 32px;
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  text-shadow: 1px 1px 3px #000;
  background: #ffc400;
  box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,.4), 0 -0.3rem 0.6rem rgba(0,0,0,.2) inset;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.container:not(:first-of-type) {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

.container:not(:first-of-type) > div {
  position: relative;
  font-size: 15px;
  padding: 20px 0;
  color: #000;
  z-index: 10;
}

.container > div > p {
  margin-bottom: 15px;
  font-size: 15px;
  color: #fff;
  line-height: 24px;
}

table {
  margin: 20px auto;
  width: 100%;
  border-collapse: collapse;
  background-color: #e0f2f6
}

table td {
  padding: 4px 10px;
  border: 1px solid rgba(255,255,255,.4);
  border-collapse: collapse
}

table tr:nth-child(even) {
  background-color: #47c9ee;
  color: #fff
}

h2, h3 {
  font-size: 42px;
  color: #fff;
}

footer {
  margin-top: 20px;
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  min-height: 80px;
  padding: 24px 0;
  background-color: rgb(53, 61, 82);
  z-index: 10;
}

footer > div > p {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  padding: 20px 0 30px;
}

.homepage {
  width: 50%;
}

.table_container {
  overflow: auto;
}

.center_image {
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px 0;
}

.image_container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.destek, .giris_image, .kayit, .license {
  width: 250px;
}

.mobile {
  width: 40%;
}

.destek {
  height: 340px;
}

.select {
  background: #01189D;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #01189D solid;
  border-radius: 0.5em;
  padding: 12px 16px;
  cursor: pointer;
}

.select > span {
  font-size: 18px;
  font-weight: 500;
}

.select-clicked {
  border: 1px #01189D solid;
  border-bottom: none;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  top: 3em;
  width: 100%;
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
  margin-top: 16px;
}

.faq > div {
  min-width: 15em;
  position: relative;
  margin-top: 16px;
}

.menu li {
  padding: 12px 16px;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu-open {
  display: block;
  opacity: 0.5;
  color: #fff;
  background-color: #01189D;
  padding-left: 0;
}

.dropdown__element {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.dropdown--last {
  margin-bottom: 93px;
}

.canli {
  width: 50%;
}

.column {
  display: flex;
  flex-wrap: wrap;
}

.column > li {
  width: 33%;
}

@media (max-width: 1110px) {
  .video_container {
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  .header_wrapper {
    flex-direction: column;
  }

  .header_wrapper {
    height: 120px;
  }

  .column > li {
    width: 100%;
  }

  .header+div, .header+main {
    padding-top: 120px;
  }

  .center_image {
    width: 100%;
  }

  .image_container {
    flex-direction: column;
  }

  .homepage, .mobile {
    width: 100%;
  }

  .content {
    flex-direction: column;
  }

  .video {
    width: 280px;
    height: 200px; 
  }
}